#contact{
    margin-top: 30rem;
}
.contact-container {
    background-color: rgba(25, 25, 25, 0.85);
    border-radius: 10px;
    color: #fed7aa;  
}

.contact-text {
    margin-top: 0.5rem;
    font-size: 1.75rem; 
}
.contact-text-small {
    font-size: 1.35rem;
    
}

.contact-icon {
    width: 1.5rem; 
    height: 1.5rem;
}

/* Para los iconos de Redes*/
.social-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
    cursor: pointer;
  transform: scale(1.1);
color: #f8eee4;
}

@media (max-width: 639px) {
  #contact{
    margin-top: 1rem;
    margin-bottom: 5rem
  }

    .contact-text {
        font-size: 1rem; 
    }
    .contact-text-small {
        font-size: 0.75rem; 
    }
}
