.outlineText {
  font-size: 3rem;
  color: #fed7aa; /* Color normal para móvil */
  z-index: -1;
}

@media (min-width: 640px) {
  .outlineText {
    font-size: 6rem;
    color: transparent; /* Hace el relleno transparente */
    -webkit-text-stroke: 3px #fed7aa; /* Aplica el contorno */
  }
}

@media (min-width: 768px) {
  .outlineText {
    font-size: 12rem;
  }
}

@media (min-width: 992px) {
  .outlineText {
    font-size: 18rem;
  }
}