
@keyframes jumpIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-jump-in {
  animation: jumpIn 1s ease-in-out;
}

/* Efecto de hover en los enlaces */
.custom-nav .nav-item .nav-link {
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
   color: #FED7AA;
}
.custom-nav .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}




