.outlineText {
  font-size: 3rem; /* Ajusta según sea necesario */
  color: transparent;
  -webkit-text-stroke: 1px #fed7aa; /* Para el efecto de contorno */
  top: -3rem;
}

@media (min-width: 576px) {
  .outlineText {
    font-size: 5rem;
  }
}

@media (min-width: 768px) {
  .outlineText {
    font-size: 10rem;
  }
}

@media (min-width: 992px) {
  .outlineText {
    font-size: 18rem;
    
    }
}